@font-face {
    font-family: "cavendish";
    src: url(fonts/Cavendish.woff) format("woff");
}

@font-face {
    font-family: "optima";
    src: url(fonts/OptimaLtStd.woff) format("woff");
}

body, p, h1 {
    background-color: #FFC1BA;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
}

h1 {
    font-family: cavendish, sans-serif; 
    font-size: 16vw;
    color: #2176AE;
    letter-spacing: 0vw;
}

.body-text {
    font-family: "optima", sans-serif;
    font-size: 30px;
    max-width: 800px;
    letter-spacing: .1px;
    color: #2176AE;
    display: inline-block;
    text-align: left;
    line-height: 1.1;
    margin: 40px 20px;
}

#containertwo {
    text-align: center
}

.caption {
    font-family: optima, sans-serif;
    font-size: 1.25vw;
}

img {
    width: 50%;
    border: solid;
    color: #00d4ff;
}

main {
    background-color: #CC4E62;
    padding: 15px 30px;
}

aside {
	width: 50%;
	padding: 0;
    display: inline-block;
    font-size: 8vw;
}

@media only screen and (max-width: 600px) {
    
    .body-text {
        font-size: 10px;
        letter-spacing: 0px;
    }
}
