Html {
Background-color: #923A75;
Color: #FF66CC;
Font-size: 30px;
Font-family: ‘Raleway’, sans-serif;
}
Header, footer {
Background-color: 
Color: rgba(224, 0, 131, 0.5)
Padding: 15px; 
Font-weight: bold; 
}
Header {
Font-size: 2rem;
Text-align: center;
}
Header img {
Font-style: italic;
}
h1 {
    font-style: normal;
}
Nav {
Background-color: #fff
Padding: 50px;
Font-size: 1rem;
Text-align: center; 
}
Nav ul {
Margin: 0;
Padding: 0;
List-style-type: none;
}
Nav li {
Background-color: 
Display: block; 
Margin-left: 115px;
Margin-right: 115px;
}
Nav a {
Color: #000;
}
Nav a:hover {
Color: 
}

